[submodule "Dependencies/ncnn"]
	path = Dependencies/ncnn
	url = https://github.com/Tencent/ncnn.git
	branch = master
[submodule "Dependencies/AMQP-CPP"]
	path = Dependencies/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP.git
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "Dependencies/abnet"]
	path = Dependencies/abnet
	url = https://github.com/L1ghtError/abnet.git
	branch = main
[submodule "Dependencies/mongo-c-driver"]
	path = Dependencies/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
